<div class="flex flex-inline align-center">
  <button data-action="click->location#previousDay" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> << </button>
  <div data-location-target="date" data-date="" class="w-15 p-5">date</div>
  <button data-action="click->location#nextDay" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> >> </button>
</div>