<div data-controller="moon" class="p-3 mx-10 relative" data-app-loaded-value="0">
  <div
    class="flex items-center bg-indigo-400 bg-left rounded-3xl flex-col justify-center m-0 max-w-5xl pb-10 pl-5 pr-5 pt-10 space-y-4 text-center w-full"
  >
    <%= render(partial: 'timer', locals: {controller: 'moon'}) %>
    <div class="w-4/5">
      <div class="inline-block font-sans text-3xl font-semibold tracking-tight">Planetary Hours</div>
      <div data-moon-target="elementBlocks" class="pt-4"></div>
      <hr class="m-2" />
    </div>
    <p class="font-medium overflow-y-auto h-32 text-left" data-moon-target="timeNowStr">
      Always go with your passion, never ask if they are real or not
    </p>
    <div class="text-xs w-full pt-10 hidden">
      <div class="grid grid-cols-4 gap-1">
        <span>Day Length: </span>
        <span data-moon-target="dayLength"> </span>
        <span>Day Hour Length: </span>
        <span data-moon-target="dayHour"> </span>
      </div>
      <div class="grid grid-cols-4 gap-1">
        <span>Night Length: </span>
        <span data-moon-target="nightLength"> </span>
        <span>Night Hour Length: </span>
        <span data-moon-target="nightHour"> </span>
      </div>
    </div>

    <div data-moon-target="rulingPlanet" class="absolute top-7 right-7"></div>

  </div>
</div>
