<div class="w-full lg:w-2/5 overlapTemplate">
  <div class="widget w-full p-4 rounded-lg bg-blue-100 border-l-4 border-green-400">
    <div class="flex items-center">
      <div class="icon w-14 p-3.5 bg-yellow-400 text-white rounded-full mr-3">
        <div class="sun-planet"></div>
      </div>
      <div class="icon w-14 p-3.5 bg-gray-500 text-white rounded-full mr-3">
        <div class="moon-planet"></div>
      </div>
      <div class="flex flex-col justify-center">
        <div class="start text-lg">230k</div>
        <div class="end text-sm text-gray-400">Sales</div>
      </div>
      <div class="ml-3 w-14 p-3.5 text-black">
        <div class="length text-xs"></div>
      </div>

    </div>
  </div>
</div>
