<div class=" flex items-center justify-center">
  <div class="w-full mx-auto py-6 px-8 overflow-auto">
    <div id="overlaps" 
      class="flex flex-row w-full space-x-2 space-y-0 lg:mb-4">
      <%= render(partial: 'overlap_template') %>
    </div>
  </div>
</div>