<div class=" flex items-center justify-center">
  <%= render(partial: 'overlap_template') %>
  <div class="">
    <div class="flex p-3">
      <button data-actor="moon" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded moon"></button>
      <button data-actor="saturn" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded saturn"></button>
      <button data-actor="jupiter" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded jupiter"></button>
      <button data-actor="mars" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded mars"></button>
      <button data-actor="sun" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded sun"></button>
      <button data-actor="venus" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded venus"></button>
      <button data-actor="mercury" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded mercury"></button>
    </div>
    <div class="flex p-3">
      <button data-actor="golden" data-action="click->location#showWindow" data-location-target="windowRulerBtn" class="bg-yellow-300 mr-3 p-4 half-sized-element rounded"></button>
      <button data-actor="air" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded air"></button>
      <button data-actor="fire" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded fire"></button>
      <button data-actor="earth" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded earth"></button>
      <button data-actor="water" data-action="click->location#showWindow" class="bg-blue-500 mr-3 p-4 half-sized-element rounded water"></button>
    </div>
  </div>

  <div class="w-full mx-auto py-6 px-8 overflow-auto">
    <div id="overlaps" class="flex flex-row w-full space-x-2 space-y-0 lg:mb-4">
    </div>
  </div>
</div>