<div class=" flex items-center justify-center">
  <%= render(partial: 'overlap_template') %>
  <div class="w-full mx-auto py-2 px-4 overflow-auto">
    <div id="overlaps" class="flex flex-row w-full space-x-2 space-y-0">
    </div>
  </div>
</div>

<%= render(partial: 'window_lens_buttons') %>