<h1 class="flex flex-col items-center justify-center py-5 text-3xl font-bold">Welcome to the Cosmic Clock</h1>

<div class="mt-20 max-w-3xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
  <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
    <span class="block text-indigo-600">Cosmic Clock is activated based on your location</span>
  </h2>
  <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
    <div class="inline-flex rounded-md shadow">
      <button data-action="click->location#getLocation" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
        Get My Location
      </button>
    </div>
  </div>
</div>
