<div data-controller="location" data-lat-value="" data-lng-value="">
  <div class="m-0 p-0 w-full">
    <div class="flex flex-row w-full">
      <div data-controller="sun" class="p-3 w-1/2">
        <div
          class="flex items-center bg-yellow-300 bg-left rounded-3xl flex-col justify-center m-0 max-w-5xl pb-48 pl-24 pr-24 pt-48 space-y-4 text-center w-full"
        >
          <h1 class="font-sans text-3xl font-semibold tracking-tight">
            Sun Time
          </h1>
          <p class="font-medium overflow-y-auto h-32 w-full" data-sun-target="timeNowStr">
            ...loading...
          </p>
          <button
            data-action="click->location#getLocation"
            class="bg-blue-500 rounded shadow-md font-light pb-2 pl-4 pr-4 pt-2 text-center text-white w-40">
            Get My Location
          </button>
        </div>
      </div>
      <div data-controller="moon" class="p-3 w-1/2">
        <div
          class="flex items-center bg-gray-500 bg-right border-transparent rounded-3xl flex-col justify-center mb-0 ml-auto mr-auto mt-0 max-w-5xl pb-48 pl-24 pr-24 pt-48 space-y-4 w-full"
        >
          <h1 class="font-sans text-3xl font-semibold tracking-tight">
            Moon Time
          </h1>
          <p class="font-medium">
            13:34:40 - 14:36:20
          </p>
          <button class="bg-blue-500 rounded shadow-md font-light pb-2 pl-4 pr-4 pt-2 text-center text-white w-40">
            Let's do this!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
