<div data-controller="location" data-lat-value="" data-lng-value="">

  <div class="m-0 p-0 w-full">
    <div class="flex flex-row w-full">
      <div data-controller="sun" class="p-3 w-1/2 h-full">
        <div
          class="flex items-center bg-yellow-300 bg-left rounded-3xl flex-col justify-center m-0 max-w-5xl pb-10 pl-5 pr-5 pt-10 space-y-4 text-center w-full"
        >
          <%= render(partial: 'timer', locals: {controller: 'sun'}) %>
          <div class="">
            <div class="inline-block font-sans text-3xl font-semibold tracking-tight">Sun Time</div>
            <div data-sun-target="elementBlocks" class="pt-4"></div>
          </div>
          <p class="font-medium overflow-y-auto h-32 text-left" data-sun-target="timeNowStr">
            Wherever you go, no matter what the weather, always bring your own sunshine
          </p>
          <div class="text-xs w-full pt-10">
            <div class="grid grid-cols-3 gap-1">
              <span>Sunrise: </span>
              <span data-location-target="sunrise"> </span>
            </div>
            <div class="grid grid-cols-3 gap-1">
              <span>Sunset: </span>
              <span data-location-target="sunset"> </span>
            </div>
          </div>

          <button
            data-location-target="btn"
            data-action="click->location#getLocation"
            class="bg-blue-500 rounded shadow-md font-light pb-2 pl-4 pr-4 pt-2 text-center text-white w-40">
            Get My Location
          </button>
        </div>
      </div>
      <div data-controller="moon" class="p-3 w-1/2 h-full">
        <div
          class="flex items-center bg-gray-500 bg-left rounded-3xl flex-col justify-center m-0 max-w-5xl pb-10 pl-5 pr-5 pt-10 space-y-4 text-center w-full"
        >
          <%= render(partial: 'timer', locals: {controller: 'moon'}) %>
          <div class="">
            <div class="inline-block font-sans text-3xl font-semibold tracking-tight">Moon Time</div>
            <div data-moon-target="elementBlocks" class="pt-4"></div>
          </div>
          <p class="font-medium overflow-y-auto h-32 text-left" data-moon-target="timeNowStr">
            Always go with your passion, never ask if they are real or not
          </p>
          <div class="text-xs w-full pt-10">
            <div class="grid grid-cols-4 gap-1">
              <span>Day Length: </span>
              <span data-moon-target="dayLength"> </span>
              <span>Day Hour Length: </span>
              <span data-moon-target="dayHour"> </span>
            </div>
            <div class="grid grid-cols-4 gap-1">
              <span>Night Length: </span>
              <span data-moon-target="nightLength"> </span>
              <span>Night Hour Length: </span>
              <span data-moon-target="nightHour"> </span>
            </div>
          </div>

          <div data-moon-target="rulingPlanet" class="absolute top-10 right-10"></div>

        </div>
      </div>
    </div>
  </div>
</div>
