<div data-controller="location" data-lat-value="" data-lng-value="">

  <div class="m-0 p-0 w-full">
    <%= render(partial: 'overlaps') %>
    <%= render(partial: 'day') %>
    <div class="flex flex-wrap w-full">
      <%= render(partial: 'sun') %>
      <%= render(partial: 'moon') %>
      
    </div>
  </div>
</div>
