// Place all the styles related to the astro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  font-family: 'Montserrat', sans-serif;
}


$symbol-width: 25px;
$symbol-height: 25px;

.air {
  background-image: asset-url("alchemical/air.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.water {
  background-image: asset-url("alchemical/water.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.fire {
  background-image: asset-url("alchemical/fire.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.earth {
  background-image: asset-url("alchemical/earth.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.spirit {
  background-image: asset-url("alchemical/spirit.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.moon {
  background-image: asset-url("alchemical/moon.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.venus {
  background-image: asset-url("alchemical/venus.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.mercury {
  background-image: asset-url("alchemical/mercury.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.saturn {
  background-image: asset-url("alchemical/saturn.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.jupiter {
  background-image: asset-url("alchemical/jupiter.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.mars {
  background-image: asset-url("alchemical/mars.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
.sun {
  background-image: asset-url("alchemical/sun.svg");
  background-repeat: no-repeat;
  width: $symbol-width;
  height: $symbol-width;
}
