<footer class="border-t-0 border-gray-200 text-gray-600 p-6">
  <div class="max-w-screen-xl mx-auto flex flex-col items-center">
    <div class="text-xs mt-4">
      Crafted With <i class="fas fa-heartbeat"></i> by <a href="http://www.higherself.tech">HigherSelf Tech</a>
    </div>
  </div>
</footer>